/* CSS de la partie Footer */

/* Disposition de la section Footer */
#Footer {
    position: relative;
    width: 100%;
}

/* Disposition et apparence du footer */
footer {
    position: absolute;
    background-color: var(--noir);
    width: 100%;
    height: 132px;
    color: var(--blanc);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dimension et disposition de l'image logo */
#Footer img {
    width: 163px;
    height: 33px;
    object-fit: contain;
    margin: 49px 0px 50px 117px
}

/* Dimension et disposition du texte */
#Footer div {
    width: 238px;
    height: 27px;
    margin: 55px 117px 50px 0px;
}